<xf:title>{{ phrase('liamw_xenforoupgrade_upgrade_xenforo:') }} {{ phrase('liamw_xenforoupgrade_credentials') }}</xf:title>

<xf:form action="{{ link('tools/upgrade/license') }}" method="post" class="block">

    <div class="block-container">
        <div class="block-body">

            <xf:textboxrow name="email" label="{{ phrase('liamw_xenforoupgrade_xenforo_customer_email') }}" />

            <xf:textboxrow name="password" label="{{ phrase('liamw_xenforoupgrade_xenforo_customer_password') }}" type="password" />

            <xf:submitrow submit="{{ phrase('continue') }}"/>
        </div>
    </div>

</xf:form>