<xf:title>{{ phrase('liamw_xenforoupgrade_upgrade_xenforo:') }} {{ phrase('liamw_xenforoupgrade_product') }}</xf:title>

<xf:form action="{{ link('tools/upgrade/version') }}" method="post" class="block">

    <div class="block-container">
        <div class="block-body">

            <xf:selectrow label="{{ phrase('liamw_xenforoupgrade_product') }}" name="product_id">
                <xf:option value="">({{ phrase('liam_xenforoupgrade_select_product') }})</xf:option>
                <xf:foreach loop="$availableProducts" key="$productId" value="$label">
                    <xf:option value="{$productId}">{$label}
                    </xf:option>
                </xf:foreach>
            </xf:selectrow>

            <xf:hiddenval name="license_id" value="{$licenseId}" />

            <xf:submitrow submit="{{ phrase('continue') }}"/>
        </div>
    </div>

</xf:form>